src/main/resources/yyc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.yyc.com/schema/yyc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.yyc.com/schema/yyc">

    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id"   type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="age"  type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>