src/main/resources/yyc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.yyc.com/schema/yyc">

    <element name="user">
        <complexType>
            <attribute name="id"   type="string"/>
            <attribute name="name" type="string"/>
            <attribute name="age"  type="int"/>
        </complexType>
    </element>

</schema>